<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sudoku Game</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

<div id="timer-container">
    Time elapsed:
    <span id="timer-display">00:00</span>
</div>

<div id="game-wrapper">
    <h2 style="margin-bottom:10px;">Sudoku</h2>


    <div id="sudoku-board"></div>

    <div class="controls">

        <div class="left-controls">

            <label for="difficulty">Difficulty:</label>

            <select id="difficulty">
                <option value="easy">Easy</option>
                <option value="medium" selected>Medium</option>
                <option value="hard">Hard</option>
            </select>

            <button id="new-game">New Game</button>

        </div>

        <div class="right-controls">

            <button id="check-solution">Check Puzzle</button>

            <button id="hint-button">Hint</button>

            <button id="theme-toggle">Dark Mode</button>

        </div>

    </div>

    <div id="message"></div>

    <div id="leaderboard-container">

        <h2>Top 10 Fastest Times</h2>

        <div id="leaderboard">
            No scores yet.
        </div>

    </div>

</div>

<script src="/static/main.js"></script>

</body>
</html>